# Data Importation and Cleaning

In [3]:
import pandas as pd
import numpy as np

In [95]:
df = pd.read_csv('Channel_attribution.csv')
df = df.fillna(0)

In [96]:
df.head()

,R05A.01,R05A.02,R05A.03,R05A.04,R05A.05,R05A.06,R05A.07,R05A.08,R05A.09,R05A.10,...,R05A.12,R05A.13,R05A.14,R05A.15,R05A.16,R05A.17,R05A.18,R05A.19,R05A.20,Output
0,16,4,3.0,5.0,10.0,8.0,6.0,8.0,13.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1,9.0,10.0,1.0,4.0,3.0,21.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9,13,20.0,16.0,15.0,21.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,15,20.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16,9,13.0,20.0,21.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
cols = df.columns

Change all ints to str and remove any trailing .0s

In [98]:
for col in cols:
    df[col] = df[col].astype(int).astype(str)
    df[col] = df[col].map(lambda x : str(x)[:-2] if '.' in x else str(x))
    #df[col] = df[col].map(lambda x : x.replace('0', ''))

In [99]:
df.head()

,R05A.01,R05A.02,R05A.03,R05A.04,R05A.05,R05A.06,R05A.07,R05A.08,R05A.09,R05A.10,...,R05A.12,R05A.13,R05A.14,R05A.15,R05A.16,R05A.17,R05A.18,R05A.19,R05A.20,Output
0,16,4,3,5,10,8,6,8,13,20,...,0,0,0,0,0,0,0,0,0,0
1,2,1,9,10,1,4,3,21,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,13,20,16,15,21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,15,20,21,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,16,9,13,20,21,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Create path feature

In [100]:
df['Path'] = ''
for i in df.index:
    for x in cols:
        df.at[i, 'Path'] = df.at[i, 'Path'] + df.at[i, x] + ' '

In [101]:
df['Path'].head()

0    16 4 3 5 10 8 6 8 13 20 21 0 0 0 0 0 0 0 0 0 0
1       2 1 9 10 1 4 3 21 0 0 0 0 0 0 0 0 0 0 0 0 0
2    9 13 20 16 15 21 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
3      8 15 20 21 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
4     16 9 13 20 21 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
Name: Path, dtype: object

Split path on conversion

In [102]:
df['Path'] = df['Path'].map(lambda x: x.split('21')[0])

df['Conversion'] = 1

df['Conversion_value'] = df['Conversion'].apply(lambda x: x * abs(np.random.normal(20, 5, 1)[0]))

In [103]:
df.head()

,R05A.01,R05A.02,R05A.03,R05A.04,R05A.05,R05A.06,R05A.07,R05A.08,R05A.09,R05A.10,...,R05A.15,R05A.16,R05A.17,R05A.18,R05A.19,R05A.20,Output,Path,Conversion,Conversion_value
0,16,4,3,5,10,8,6,8,13,20,...,0,0,0,0,0,0,0,16 4 3 5 10 8 6 8 13 20,1,25.945290
1,2,1,9,10,1,4,3,21,0,0,...,0,0,0,0,0,0,0,2 1 9 10 1 4 3,1,27.793416
2,9,13,20,16,15,21,0,0,0,0,...,0,0,0,0,0,0,0,9 13 20 16 15,1,14.636104
3,8,15,20,21,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8 15 20,1,7.246296
4,16,9,13,20,21,0,0,0,0,0,...,0,0,0,0,0,0,0,16 9 13 20,1,22.641712

Take just the paths and conversions

In [104]:
df = df[['Path', 'Conversion', 'Conversion_value']]

In [105]:
df

                            Path  Conversion  Conversion_value
0       16 4 3 5 10 8 6 8 13 20            1         25.945290
1                2 1 9 10 1 4 3            1         27.793416
2                 9 13 20 16 15            1         14.636104
3                       8 15 20            1          7.246296
4                    16 9 13 20            1         22.641712
5                    1 11 8 4 9            1         21.805454
6            1 6 10 13 16 20 11            1         22.652199
7                 10 11 12 4 20            1         20.314308
8                    16 10 4 20            1         15.063625
9                    4 16 15 20            1         18.126646
10                         2 10            1         11.869566
11                       13 9 9            1         12.087347
12             9 3 4 9 16 10 20            1         14.200876
13                  3 4 9 15 20            1         19.745827
14                   10 16 3 20            1         26.941855
15                13 9 16 13 20            1         20.940116
16                      9 10 20            1         28.929660
17                      9 16 20            1         33.396129
18                      4 17 20            1         22.176922
19                      10 3 20            1         19.839582
20                   10 9 11 20            1         14.360991
21                   15 8 10 20            1         17.250946
22              2 3 4 7 7 13 20            1          7.588111
23                      11 12 9            1         14.515724
24                    9 2 16 20            1         16.170799
25                         13 9            1         28.255289
26                       4 9 20            1         21.058395
27                     14 14 20            1         19.643858
28                        16 20            1         14.789950
29    10 4 3 5 9 11 13 16 17 20            1         15.996664
...                          ...         ...               ...
2362         5 13 10 13 5 10 20            1         20.164141
2363                       3 20            1         23.814096
2364              13 9 11 13 20            1         15.228479
2365                   14 18 20            1         28.390307
2366                  1 4 17 20            1         16.193698
2367  10 1 3 7 8 9 5 12 4 16 20            1         28.220534
2368              2 13 11 17 20            1         21.541404
2369                3 9 4 10 20            1         23.049879
2370                 11 9 13 20            1         16.941507
2371                  10 3 9 20            1         24.579175
2372              6 16 16 20 17            1         17.634260
2373                    13 3 20            1         13.696247
2374                     3 4 20            1         20.638920
2375                     3 5 20            1         16.488528
2376                13 11 17 20            1         24.075861
2377                     3 2 20            1         17.445162
2378                   2 5 8 20            1         16.117840
2379                    4 15 20            1         19.952338
2380                  1 8 10 20            1         17.479730
2381                       3 20            1         17.872062
2382                    2 16 20            1         24.919947
2383                    4 15 20            1         19.439364
2384                    1 15 20            1         18.536988
2385              10 4 14 15 20            1         19.690198
2386                  17 9 4 20            1         23.953865
2387           4 4 5 12 13 2 20            1         20.577833
2388              9 16 17 15 20            1         20.162631
2389            10 6 5 4 2 9 20            1         23.993925
2390                 10 6 11 20            1         25.097174
2391                1 4 9 10 20            1         26.180255

[2392 rows x 3 columns]

In [106]:
df['Path'] = df['Path'].apply(lambda x: x.replace(' ', ' > ')[:-2])

In [107]:
df

,Path,Conversion,Conversion_value
0,16 > 4 > 3 > 5 > 10 > 8 > 6 > 8 > 13 > 20,1,25.945290
1,2 > 1 > 9 > 10 > 1 > 4 > 3,1,27.793416
2,9 > 13 > 20 > 16 > 15,1,14.636104
3,8 > 15 > 20,1,7.246296
4,16 > 9 > 13 > 20,1,22.641712
5,1 > 11 > 8 > 4 > 9,1,21.805454
6,1 > 6 > 10 > 13 > 16 > 20 > 11,1,22.652199
7,10 > 11 > 12 > 4 > 20,1,20.314308
8,16 > 10 > 4 > 20,1,15.063625
9,4 > 16 > 15 > 20,1,18.126646
10,2 > 10,1,11.869566
11,13 > 9 > 9,1,12.087347
12,9 > 3 > 4 > 9 > 16 > 10 > 20,1,14.200876
13,3 > 4 > 9 > 15 > 20,1,19.745827
14,10 > 16 > 3 > 20,1,26.941855
15,13 > 9 > 16 > 13 > 20,1,20.940116
16,9 > 10 > 20,1,28.929660
17,9 > 16 > 20,1,33.396129
18,4 > 17 > 20,1,22.176922
19,10 > 3 > 20,1,19.839582
20,10 > 9 > 11 > 20,1,14.360991
21,15 > 8 > 10 > 20,1,17.250946
22,2 > 3 > 4 > 7 > 7 > 13 > 20,1,7.588111
23,11 > 12 > 9,1,14.515724
24,9 > 2 > 16 > 20,1,16.170799
25,13 > 9,1,28.255289
26,4 > 9 > 20,1,21.058395
27,14 > 14 > 20,1,19.643858
28,16 > 20,1,14.789950
29,10 > 4 > 3 > 5 > 9 > 11 > 13 > 16 > 17 > 20,1,15.996664
...,...,...,...
2362,5 > 13 > 10 > 13 > 5 > 10 > 20,1,20.164141
2363,3 > 20,1,23.814096
2364,13 > 9 > 11 > 13 > 20,1,15.228479
2365,14 > 18 > 20,1,28.390307
2366,1 > 4 > 17 > 20,1,16.193698
2367,10 > 1 > 3 > 7 > 8 > 9 > 5 > 12 > 4 > 16 > 20,1,28.220534
2368,2 > 13 > 11 > 17 > 20,1,21.541404
2369,3 > 9 > 4 > 10 > 20,1,23.049879
2370,11 > 9 > 13 > 20,1,16.941507
2371,10 > 3 > 9 > 20,1,24.579175
2372,6 > 16 > 16 > 20 > 17,1,17.634260
2373,13 > 3 > 20,1,13.696247
2374,3 > 4 > 20,1,20.638920
2375,3 > 5 > 20,1,16.488528
2376,13 > 11 > 17 > 20,1,24.075861
2377,3 > 2 > 20,1,17.445162
2378,2 > 5 > 8 > 20,1,16.117840
2379,4 > 15 > 20,1,19.952338
2380,1 > 8 > 10 > 20,1,17.479730
2381,3 > 20,1,17.872062
2382,2 > 16 > 20,1,24.919947
2383,4 > 15 > 20,1,19.439364
2384,1 > 15 > 20,1,18.536988
2385,10 > 4 > 14 > 15 > 20,1,19.690198
2386,17 > 9 > 4 > 20,1,23.953865
2387,4 > 4 > 5 > 12 > 13 > 2 > 20,1,20.577833
2388,9 > 16 > 17 > 15 > 20,1,20.162631
2389,10 > 6 > 5 > 4 > 2 > 9 > 20,1,23.993925
2390,10 > 6 > 11 > 20,1,25.097174
2391,1 > 4 > 9 > 10 > 20,1,26.180255

In [108]:
df['Path'].value_counts()

10 > 4 > 20                                         18
10 > 9 > 20                                         15
9 > 4 > 20                                          15
3 > 20                                              13
10 > 13 > 20                                        12
4 > 20                                              10
4 > 13 > 20                                          9
13 > 4 > 20                                          9
9 > 16 > 20                                          9
10 > 20                                              9
3 > 4 > 20                                           8
4 > 9 > 20                                           8
13 > 20                                              8
11 > 20                                              8
2 > 16 > 20                                          8
2 > 20                                               8
1 > 20                                               7
10 > 11 > 20                                         7
9 > 10 > 20                                          7
16 > 20                                              7
13 > 15 > 20                                         6
9 > 20                                               6
16 > 4 > 20                                          5
4 > 12 > 20                                          5
13 > 9 > 20                                          5
13 > 11 > 20                                         5
13 > 3 > 20                                          5
10 > 3 > 20                                          5
4 > 9 > 16 > 20                                      5
16 > 15 > 20                                         5
                                                    ..
9 > 11 > 4 > 5 > 1 > 10 > 4 > 5 > 3 > 11             1
3 > 1 > 19                                           1
10 > 15 > 13 > 11 > 16 > 14 > 20                     1
4 > 5 > 2 > 1 > 16 > 13 > 20 > 6 > 11 > 7 > 9        1
10 > 4 > 13 > 16 > 12 > 4 > 4                        1
16 > 10 > 2 > 20                                     1
2 > 13 > 11 > 17 > 20                                1
10 > 2 > 4 > 3 > 17 > 13 > 12 > 20                   1
2 > 10 > 9 > 8 > 13 > 17 > 15 > 14 > 8 > 9 > 20      1
9 > 9 > 12 > 9 > 20                                  1
2 > 4 > 10 > 3 > 4 > 12 > 20                         1
3 > 4 > 5 > 7 > 11 > 15 > 20                         1
12 > 18 > 20                                         1
1 > 2 > 4 > 8 > 8 > 13 > 16 > 20                     1
2 > 4 > 10 > 12 > 20                                 1
2 > 3 > 11 > 8 > 20                                  1
13 > 11 > 4 > 2 > 20                                 1
10 > 6 > 11 > 20                                     1
6 > 1 > 20                                           1
14 > 18 > 20                                         1
6 > 6 > 4 > 20                                       1
10 > 4 > 13 > 17 > 20                                1
2 > 12 > 2 > 20                                      1
10 > 1 > 2 > 7 > 8 > 5 > 15 > 20                     1
10 > 4 > 10 > 6 > 13                                 1
8 > 13 > 8                                           1
13 > 3 > 4 > 7 > 10 > 20                             1
7 > 11 > 17 > 20                                     1
4 > 12 > 9 > 17 > 20                                 1
3 > 4 > 13 > 12 > 20                                 1
Name: Path, Length: 1906, dtype: int64

In [109]:
df = df.groupby('Path').sum().reset_index()

In [110]:
df.head()

                         Path  Conversion  Conversion_value
0             1 > 1 > 1 > 20            1         18.072133
1            1 > 1 > 12 > 12            1         27.007232
2  1 > 1 > 14 > 13 > 12 > 20            1         13.307263
3    1 > 1 > 3 > 13 > 3 > 20            1         23.796644
4        1 > 1 > 3 > 17 > 17            1         15.819949

The original author of this code uses subprocess to run a R script since Markov Chains arent widely avaliable in Python. I will go with this for now but will be looking to impliment a python version soon. At this time though, we will export our data as a csv to run in the R script

In [111]:
#df.to_csv('Paths.csv', index = False)

In [4]:
def process_data():

    df = pd.read_csv('Channel_attribution.csv')
    df = df.fillna(0)
    cols = df.columns

    for col in cols:
        df[col] = df[col].astype(int).astype(str)
        df[col] = df[col].map(lambda x : str(x)[:-2] if '.' in x else str(x))

    df['Path'] = ''
    for i in df.index:
        for x in cols:
            df.at[i, 'Path'] = df.at[i, 'Path'] + df.at[i, x] + ' '

    df['Path'] = df['Path'].map(lambda x: x.split('21')[0])
    df['Conversion'] = 1
    df['Conversion_value'] = df['Conversion'].apply(lambda x: x * abs(np.random.normal(20, 5, 1)[0]))

    df = df[['Path', 'Conversion', 'Conversion_value']]
    
    df['Path'] = df['Path'].apply(lambda x: x.replace(' ', ' > ')[:-2])

    df = df.groupby('Path').sum().reset_index()

    df.to_csv('Paths.csv', index = False)

In [5]:
process_data()

In [6]:
df = pd.read_csv('Paths.csv')

df.head()

                         Path  Conversion  Conversion_value
0             1 > 1 > 1 > 20            1         19.106172
1            1 > 1 > 12 > 12            1         20.793225
2  1 > 1 > 14 > 13 > 12 > 20            1         24.560501
3    1 > 1 > 3 > 13 > 3 > 20            1         17.189823
4        1 > 1 > 3 > 17 > 17            1         20.426126

In [9]:
df.Path.value_counts()

19 > 10 > 20                                                  1
10 > 11 > 14 > 4 > 5 > 16 > 17                                1
1 > 2 > 2 > 10 > 1 > 20                                       1
12 > 11 > 20                                                  1
10 > 14 > 6 > 20                                              1
2 > 4 > 13 > 6 > 17 > 9 > 9 > 20                              1
13 > 11 > 12 > 10 > 20                                        1
2 > 1 > 6 > 4 > 20                                            1
17 > 9 > 20                                                   1
16 > 13 > 9 > 4 > 11                                          1
3 > 11 > 16 > 20                                              1
10 > 10 > 16 > 20                                             1
9 > 8 > 6 > 20                                                1
4 > 6 > 10 > 13 > 20                                          1
10 > 4 > 16 > 20                                              1
16 > 20 > 14                                                  1
10 > 10 > 14 > 14 > 20                                        1
12 > 11 > 1 > 2 > 16 > 20                                     1
10 > 10 > 6 > 4 > 13 > 20                                     1
8 > 10 > 11 > 16 > 15 > 17 > 5                                1
13 > 16 > 13 > 20                                             1
11 > 9 > 12 > 20                                              1
2 > 4 > 10 > 12 > 20                                          1
9                                                             1
14 > 4 > 13 > 12 > 3 > 20                                     1
10 > 9 > 4 > 20                                               1
13 > 9 > 15 > 20                                              1
3 > 4 > 5 > 20                                                1
10 > 5 > 4 > 20 > 16 > 17 > 15                                1
11 > 4 > 10 > 20                                              1
                                                             ..
13 > 14 > 6 > 11 > 1 > 8 > 2 > 3 > 4 > 20                     1
9 > 4 > 5 > 7                                                 1
6 > 6 > 9                                                     1
2 > 8 > 10 > 12 > 14 > 16 > 18 > 20                           1
10 > 3 > 9 > 4 > 16 > 20                                      1
3 > 4 > 13 > 4 > 17 > 8                                       1
3 > 9 > 11 > 13 > 16 > 14 > 20                                1
11 > 4 > 16 > 20                                              1
9 > 11 > 17 > 8 > 3 > 15 > 17 > 10                            1
5 > 14                                                        1
10 > 2 > 3 > 13 > 16 > 15 > 17 > 20                           1
10 > 15 > 13 > 11 > 16 > 14 > 20                              1
12 > 18 > 20                                                  1
17 > 15 > 20                                                  1
10 > 12 > 10 > 10 > 20                                        1
11 > 4 > 8 > 20                                               1
13 > 9 > 10                                                   1
2 > 16                                                        1
13 > 10 > 5 > 4 > 6 > 11 > 1 > 3 > 14 > 16 > 17 > 20 > 11     1
10 > 9 > 13 > 16 > 4 > 20                                     1
9 > 4 > 13 > 5 > 10 > 20                                      1
5 > 4 > 9 > 4 > 5 > 12 > 11 > 9 > 10                          1
4 > 13 > 16 > 17 > 15 > 20                                    1
1 > 4 > 3 > 11                                                1
2 > 13 > 20 > 10 > 2 > 1 > 13                                 1
4 > 13 > 16 > 9                                               1
4 > 9 > 20                                                    1
10 > 11 > 3                                                   1
16 > 1 > 20                                                   1
16 > 20 > 16 > 9 > 4                                          1
Name: Path, Length: 1906, dtype: int64